{% extends 'form.html' %}

{% block 'head-extends' %}
	<style type="text/css">
		#error_text{
			position: relative;
			bottom: 16px;
			right: 90px;
		}
		#send_code{
			position: relative;
			top: 5px;
		}
		#submit{
			position: relative;
			top: 5px;
		}

	</style>
{% endblock %}

{% block 'other-button' %}
<div id="send_code" class="btn btn-primary" >发送验证码</div>
{% endblock %}

{% block 'script-extends' %}
	<script type="text/javascript">
		// Yan123456654321
		// B33f98c0((9Yan123
		$.ajaxSetup({
			data:{ csrfmiddlewaretoken:'{{ csrf_token }}'}
		})
		$('#send_code').click(function(){
			var email = $('#id_email').val();
			$.ajax({
				url: "{% url 'send_verification_code_s' %}",
				type: 'GET',
				data: {
					'email':email,
				},
				cache: false,
				async: false,
				dataType: 'json',
				jsonpCallback: 'callback',
				success: function(data){
					if(data['status']=='ERROR'){
						alert();
					}
				},
				error: function(xhr){
					console.log(xhr);
				},
			});
			$(this).addClass('disabled')
		});
		$('#form-form').submit(function(){
			event.preventDefault()
			var verification_code = document.getElementsByName("verification_code")[0].value
			$.ajax({
				url: "{% url 'bind_email' %}",
				type: 'POST',
				data: {
					'verification_code':verification_code
				},
				cache: false,
				async: false,
				dataType: 'json',
				jsonpCallback: 'callback',
				success: function(data){
					if(data['status']=='ERROR'){
						$('#error_text').text(data['wrong']);
					}else{
						document.addEventListener('touchmove',function(event){
							event.returnValue = true;
							}, false
						);
						window.location.reload(true,"{% url 'user_info' %}");
					}
				},
				error: function(xhr){
					$('#error_text').text('服务器出错');
					console.log(xhr);
				}
			});
		})
	</script>
{% endblock %}