{% extends 'form.html' %}
<!--github 212szdc1s2dfg  -->
{% block 'script-extends' %}
<script type="text/javascript">
	$.ajaxSetup({
		data:{ csrfmiddlewaretoken:'{{ csrf_token }}' }
	});
	$('#form-form').submit(function(){
		event.preventDefault();
		var old_password = $('#id_old_password').val();
		var new_password = $('#id_new_password').val();
		var new_password_again = $('#id_new_password_again').val();
		$.ajax({
			url: "{% url 'change_password' %}",
			type: 'POST',
			data: {
				'old_password': old_password,
				'new_password': new_password,
				'new_password_again': new_password_again,
			},
			cache: false,
			async: false,
			dataType: 'json',
			jsonpCallback: 'callback',
			success: function(data){
				if(data['status']=='ERROR'){
					$('#error_text').text(data['wrong']);
				}else{
					$('#error_text').text('密码更改完成');
				};
			},
			error:function(xhr){
				$('#error_text').text('服务器出错');
				console.log(xhr);
			}
		})
	})
</script>
{% endblock %}