{% extends 'base.html' %}
{% load staticfiles %}

{% block 'title' %}{% endblock %}

{% block 'head-extends' %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
{% endblock %}

{% block 'content' %}
	<div class="container" style="position: relative;top: 50px;width: 350px;">
		<div class="panel panel-default">
			<div class="panel-heading">
	    	<h3 class="panel-title">注册</h3>
	    </div>
	    <div class="panel-body">
	    	<form id='register_form' action="" method="POST">
				{% csrf_token %}
				{% for field in register_form %}
					<label>{{ field.label }}</label>
					{{ field }}
					<br>
				{% endfor %}
				<span id='error_text'class="pull-left text-danger">{{ wrong }}</span>
				<input style="position: relative;top: 5px;" type="submit"value="注册" class="btn btn-primary pull-right">
			</form>
	  	</div>
	</div>
{% endblock %}

{% block 'script-extends' %}
<script type="text/javascript">
	$.ajaxSetup({
		data:{ csrfmiddlewaretoken:'{{ csrf_token }}' }
	});
	$('#register_form').submit(function(){
		event.preventDefault()
		var nickname = $('#id_nickname').val();
		var username = $('#id_username').val();
		var password = $('#id_password').val();
		var password_again = $('#id_password_again').val();
		$.ajax({
			url: "{% url 'register' %}",
			type: 'POST',
			data: {
				'nickname':nickname,
				'username':username,
				'password':password,
				'password_again':password_again,
			},
			cache: false,
			async: false,
			dataType: 'json',
			jsonpCallback: 'callback',
			success: function(data){
				if(data['status']=='ERROR'){
					$('#error_text').text(data['wrong']);
				};
				if(data['status']=='SUCCESS'){
					window.location.reload(true,"{% url 'user_info' %}");
				};
			},
			error:function(xhr){
				$('#error_text').text('服务器出错');
				console.log(xhr);
			}
		})
	})
</script>
{% endblock %}